:root {
    --light-red-color: #FF6565;
    --white: #FFFFFF;
}

/**,
*::after,
*::before {
    box-sizing: border-box;
}*/

body {
    margin: 0;
    font-family: "Source Code Pro", monospace;
}

header {
    /*background-color: black;*/
    background-image: url(images/desktop/background.png);
    width: 100%;
    /*height: 800px;*/
    height: 100vh;
    background-repeat: no-repeat;
}

.nav-section {
    max-width: 1000px;
    margin-left: 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;

}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
}

li {
    list-style: none;
    display: inline-block;
    font-family: sans-serif;
    gap: 20px;
}

li a {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    gap: 60px;
}

.button {
  background-color: var(--light-red-color);
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 20px;
  font-weight: bold;
}

.main-header-section {
    width: 637px;
    height: 313px;
    color: var(--white);
    margin-left: 350px;
    margin-top: 350px;
    align-items: center;
}

.call-to-action {
    background-color: var(--light-red-color);
    color: var(--white);
    font-size: 14px;
}

.main-header-section h1 {
    text-align: center;
}

.main-header-section h5 {
    text-align: center;
}

.main-header-section .btn {
    text-align: center;
}

.main-header-section p {
    text-align: center;
}

.nav-menu li a:hover{
    color: var(--light-red-color);
}

/* Main Section - What we do section */

.what-we-do h2 {
    text-align: center;

}

.what-we-do p {
    text-align: center;

}

.introduction {
    width: 637px;
    height: 184px;
    margin-left: 350px;
}

.intro-components {
    display: flex;
    width: 1002px;
    height: 193px;
    margin-top: 90px;
    margin-left: 160px;
}

/* Main Section - Our Results section */

.results h2 {
    text-align: center;
    color: var(--white);
}

.results p {
    text-align: center;
    color: var(--white);
}

.results-intro {
    width: 637px;
    height: 184px;
    margin-left: 350px;
}

.results-components {
    display: inline;
    width: 100%;
    height: 100vh;
    margin-top: 90px;
    margin-left: 250px;
}

.results {
    background-image: url(images/desktop/background2.png);
    background-repeat: no-repeat;
}


@media (max-width: 800px ) {
    .nav-menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    header {
        background-image: url(images/mobile/background\ \(3\).png);
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
    }

    .nav-section {
        max-width: 247px;
        height: 32px;
        margin-left: 50px;
    }
    
    .main-header-section {
        width: 357px;
        height: 436px;
        color: var(--white);
        margin-left: 5px;
        margin-top: 270px;
        align-items: center;
    }

    /* Main Section - What we do section */

    .what-we-do h2 {
        text-align: center;
    
    }
    
    .what-we-do p {
        text-align: center;
    
    }

    .introduction {
        width: 325px;
        height: 288px;
        margin-left: 10px;
    }

    .intro-components {
        display: flex;
        flex-direction: column;
        width: 202px;
        height: 1020px;
        margin-top: 90px;
        margin-left: 100px;
        justify-content: space-between;
    }

    /* Main Section - Our Results section */

    .results h2 {
        text-align: center;
        color: var(--white);
        padding-top: 50px;
        padding-bottom: 40px;
    }
    
    .results p {
        text-align: center;
        color: var(--white);
    }

    .results-intro {
        width: 266px;
        height: 491px;
        margin-left: 50px;
        margin-top: 20px;
    }
    
    .results-components {
        display: block;
        width: 100%;
        height: 100vh;
        margin-top: 20px;
        margin-left: 80px;
    }
    
    .results {
        background-image: url(images/mobile/background\ 4.png);
        background-repeat: no-repeat;
        height: 1491px;
        width: 375px;
    }


}