body {
    display: flex;
    flex-direction: column;
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    box-shadow: 5px;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
    background-color: blueviolet;
    box-shadow: 5px;
}

img {
    height: 10px;
    width: 10px;
}